@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
html {
  min-height: 100%;
  position: relative;
}

$mainColor: #237dac;
$siteWidth: 920px;
$contentWidth: 780px;

body {
  @font-face {
    font-family: YuGothicM;
    src: local("Yu Gothic Medium");
  }
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  line-height: 1.8em;
  margin-bottom: 6em;
  font-size: 14px;
  @media only screen and (max-width: 768px) {
    font-size: 90%;
  }

  .header-menu {
    margin-left: 1em;
  }
  
  a {
    color: $mainColor;
    text-decoration: none;
    font-weight: bold;
    word-break: break-all;

    &:hover, &:focus {
               color: #2D3E4A;
               -webkit-transition: color 0.5s ease;
               -moz-transition: color 0.5s ease;
               -o-transition: color 0.5s ease;
    }
  }
  #container {
    @media only screen and (max-width: 768px) {
      margin: 0 2rem;
    }
      
    max-width: $siteWidth;
    margin: 0 auto;
    #header {
      max-width: $contentWidth;
      margin: 0 auto;
      @media only screen and (max-width: 768px) {
        .pure-menu-link {
          font-size: 90%;
          padding: .2em .8em;
        }
      }
      font-size: 1em;
      #logo {
        font-size: 1.2em;
        @media only screen and (max-width: 768px) {
          font-size: 1.1em;
        }
        font-weight: bold;
        text-transform: none;
        color: $mainColor;
        padding: .2rem 1rem .2rem 0;
        .pure-menu-link {
          padding: 0;
          color: #555;
        }
        &:hover, a:hover{
          background-color: transparent;
        }
        a:hover {
          color: #999;
        }
      }
      border-bottom: 2px #777 solid;
      padding-top: 4px;
      padding-bottom: 4px;
      a:hover {
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        -o-transition: background-color 0.5s ease;
      }
    }
    #content {
      margin: 0 auto;
      max-width: $contentWidth;
      color: #222;
      line-height: 2;
      font-size: 1rem;
      h1 {
        font-size: 1.6rem; 
        color: $mainColor;
        margin: 1.5rem 0;
        @media only screen and (max-width: 768px) {
          margin: .8em 0;
          line-height: 1.5em;
        }
      }
      h2 {
        font-size: 1.1rem;
        margin-top: 40px;
        margin-bottom: 20px;
        color: darken($mainColor, 10%);
        @media only screen and (max-width: 768px) {
          margin-top: .7em;
          margin-bottom: .7em;
        }
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        color: #555;
        @media only screen and (max-width: 768px) {
          margin-top: .3em;
          margin-bottom: .3em;
        }
      }
      .info {
        font-size: .9rem;
        text-align: right;
        .date {
          color: #999;
        }
        .tags {
          color: #999;
          a {
            font-weight: normal;
          }
        }
      }
      .teaser {
        p {
          margin: 0;
        }
        a,
        a:hover,
        a:visited {
          color: #2D3E4A;
        }
        @media only screen and (max-width: 768px) {
          font-size: .9em;
          line-height: 1.8rem;
        }
        margin: .2rem 0;
      }
      .before-footer {
        padding-bottom: 2rem;
      }
      .recent-post-title {
        font-size: 1.3em;
        @media only screen and (max-width: 768px) {
          font-size: 1.2em;
        }
      }
      li {
        margin-bottom: .5rem;
      }
      .recent-post {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 1rem;
          padding: .5rem 0;
          .date {
            color: #999;
            font-size: .8rem;
            @media only screen and (max-width: 768px) {
              text-align: right;
            }
          }
        }
      }
      code {
        padding: .2em .5em;
        background-color: #fafbfc;
        border: 1px solid #e1e4e8;
        border-radius: .2em;
        font-size: .9rem;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
        word-break: break-all;
        &.sourceCode {
          border: none;
          padding: 0;
        }
      }
    }
    pre.sourceCode {
      padding: .5em 1em;
      background-color: #fafbfc;
      border: 1px solid #e1e4e8;
      font-size: .9rem;
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
    .blog-img {
      max-width: 600px;
      border: 1px #555 solid;
      @media only screen and (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
  .social-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    text-align: right;
  }
  #footer {
    bottom: 0;
    height: 5em;
    position: absolute;
    margin-top: 1em;
    width: 100%;
    text-align: center;
    color: #666;
    a {
      color: #666;
      &:hover {
        color: #000;
      }
    }
  }

}
