<div class="info">
    <span class="date">Posted on $date$</span>
    $if(author)$
        by $author$
    $endif$
    $if(tags)$
    <span class="tags">, Tags: $tags$</span>
    $endif$
</div>

$body$

<div class="social-buttons">
<a href="http://b.hatena.ne.jp/entry/https://yoshitsugu.net$url$" class="hatena-bookmark-button" data-hatena-bookmark-title="$title$ - TSUGULOG" data-hatena-bookmark-layout="standard-noballoon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
</div>
